.pop-overflow{
	overflow: hidden !important;
}
.popholder{
	display: block;
	position: fixed;
	z-index: 500;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow-y: scroll;
	background: rgba(0,0,0,.8);
	background:  url(images/popbg.png) \9;
}
.popholder > .pp-close {
	position: fixed;
	z-index: 501;
	top: 0;
	right: 20px;
	width: 80px;
	height: 80px;
	color: #f66;
	line-height: 80px;
	font-size: 60px;
	text-align: center;
	cursor: pointer;
}
.popholder > .pp-close:hover{color:#f99;}
.pp-inner{
	min-width: 300px;
	margin: 0 auto;
}
.pp-dialog{
	background: #fff;
	border-radius: 3px;
	overflow: hidden;
}
.pp-inner .pp-title{
	font: bold 16px/30px '微软雅黑';
	height:30px;
	text-indent: 10px;
	background: #d2d2d2;
	color: #52b3cf;
	position: relative;
}
.pp-title .pp-close{
	position: absolute;
	color: #f66;
	cursor: pointer;
	right: 10px;
	top: 2px;
}
.pp-inner .pp-panel{
	padding: 10px;
	min-height: 60px;
}
.pp-inner .pp-btnline{
	padding: 10px;
	text-align: right;
}